//---------------- Modal for Adding New Order for Existing Customer --------------------
div(id="newOrdForm", class="modal fade", role="dialog")
  div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        button(type="button", class="close", data-dismiss="modal") &times;
        h4(class="modal-title") 
          | Add New Orders for Existing Customer
      div(class="modal-body")
        form#newOrdForm(action="/addNewOrder", method="POST", name="newOrdForm" novalidate)
          
          div(class="input-group input-group")
            span(class="input-group-addon", id="sizing-addon1") 
              span(class="glyphicon glyphicon-user")
            input#ExCustomerUsername(ng-model="ExCustomerUsername", type="text", name="ExCustomerUsername", class="form-control", placeholder="Customer Username", aria-describedby="sizing-addon1" required)
          span(style="color:red" ng-show="newOrdForm.ExCustomerUsername.$dirty && newOrdForm.ExCustomerUsername.$invalid")
            span(ng-show="newOrdForm.ExCustomerUsername.$error.required") Username is required.
          
          div(class="input-group input-group")
            span(class="input-group-addon", id="sizing-addon1") 
              span(class="glyphicon glyphicon-shopping-cart")
            input#ExOrderName(ng-model="ExOrderName", type="text", name="ExOrderName", class="form-control", placeholder="Order Name", aria-describedby="sizing-addon1" required)
          span(style="color:red" ng-show="newOrdForm.ExOrderName.$dirty && newOrdForm.ExOrderName.$invalid")
            span(ng-show="newOrdForm.ExOrderName.$error.required") Order name is required.
          
          div(class="input-group input-group")
            span(class="input-group-addon", id="sizing-addon1") 
              span(class="glyphicon glyphicon-scale")
            input#ExAmount(ng-model="ExAmount", type="number", name="ExAmount", class="form-control", placeholder="Amount", aria-describedby="sizing-addon1" required)
          span(style="color:red" ng-show="newOrdForm.ExAmount.$dirty && newOrdForm.ExAmount.$invalid")
            span(ng-show="newOrdForm.ExAmount.$error.required") Amount is required.
            span(ng-show="newOrdForm.ExAmount.$invalid", style="color: red;") Amount is invalid.

          div(class="input-group input-group")
            span(class="input-group-addon", id="sizing-addon1") 
              span(class="glyphicon glyphicon-euro")
            input#ExRate(ng-model="ExRate", type="number", name="ExRate", class="form-control", placeholder="Single Rate", aria-describedby="sizing-addon1" required)  
          span(style="color:red" ng-show="newOrdForm.ExRate.$dirty && newOrdForm.ExRate.$invalid")
            span(ng-show="newOrdForm.ExRate.$error.required") Rate is required.
            span(ng-show="newOrdForm.ExRate.$invalid", style="color: red;") Rate is invalid.
      
      div(class="modal-footer")
        button(ng-click="addNewOrder()", class="btn btn-success", data-dismiss="modal", ng-disabled="newOrdForm.$invalid")
          | Add This Order
        button(class="btn btn-default", data-dismiss="modal") 
          | Close