html(lang="en", ng-app="custApp")
  head
    include ./layout
    script(type="text/javascript", src="jdenticon-1.3.2.min.js" async)
    link(rel="stylesheet", href="customerStyle.css")
    script(type="text/javascript", src="CustUserExp.js")
    script(type="text/javascript", src="CustApp.js")
    
  body(class="container-fluid", ng-controller="custCtrl")
    //- navbar 
    div(class="row", id="header")
      nav(class="navbar navbar-default navbar-fixed-top")
        div(class="navbar-header") 
          img#logo(src="http://www.dispatchr.com/img/logo.png")
        div(class="navbar navbar-right")
          button#signout(ng-click="signout()", ng-hide="isGuest", class="btn btn-default") Sign Out

    div(class="col-xs-3 col-sm-3 col-md-3 col-lg-3")
      div(ng-hide="isGuest")
        canvas(width="250%", height="250%", data-jdenticon-hash="{{usericon}}")
        h3 Name: {{CustomerUsername}}
        h4 Address: {{Address}}
        h4 Phone: {{Phone}}
        h4 Email: {{Email}}
      div(ng-show="isGuest")
        h2 Welcome, Guest!

      ul(class="nav nav-pills nav-stacked")
        li 
          a(ng-click="seeCartTab()", href="", class="active") Products You Bought
        li 
          a(ng-click="seeInvTab()", href="") Products

    div(class="col-xs-9 col-sm-9 col-md-9 col-lg-9")
      table#cartTable(ng-show="showCartTab", class="table table-hover")
        thead
          th Order Name
          th Amount
          th Rate
          th Total
        tbody
          tr(ng-repeat="item in items")
            td {{item.OrderName}}
            td {{item.Amount}}
            td {{item.Rate}}
            td {{item.Amount * item.Rate}}

      table#invTable(ng-show="showInvTab", class="table table-hover")
        thead
          th Product Name
          th Product Rate
          th(ng-hide="isGuest") Amount
        tbody
          tr(ng-repeat="item in inventory")
            td {{item.inventoryName}}
            td {{item.inventoryRate}}
            td(ng-hide="isGuest") 
              input#buyAmount(type="number", ng-model="custBuyAmount")
            td(ng-hide="isGuest") 
              button#buyBtn(class="btn btn-success", ng-click="custAddNewOrder(item.inventoryName, custBuyAmount, item.inventoryRate, CustomerUsername)") BUY

    //-----------------------------Modal for login & sign up------------------------------
    //-if isGuest
    div#custloginModal(ng-class="modalOrNot")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            h2(class="modal-title") Welcome to Dispatchr Market

          div(class="modal-body")
            div#btnPart
              input#custloginBtn(class="btn btn-success", value="Login", type="button")
              input#custsignupBtn(class="btn btn-default", value="Sign Up", type="button")

            div#custlogin
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-user")
                input#custUsername(ng-model="custUsername", type="text", class="form-control", placeholder="Enter Username", aria-describedby="sizing-addon1")
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-qrcode")
                input#custloginPwd(ng-model="custloginPwd", type="password", class="form-control", placeholder="Enter Password", aria-describedby="sizing-addon1")

            div#custsignup
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-user")
                input#custSignUser(ng-model="custSignUser", type="text", class="form-control", placeholder="Enter Username", aria-describedby="sizing-addon1")
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-qrcode")
                input#custPwd(ng-model="custPwd", type="password", class="form-control", placeholder="Enter Password", aria-describedby="sizing-addon1")
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-map-marker")
                input#custSignAddrs(ng-model="custSignAddrs", type="text", class="form-control", placeholder="Enter Address", aria-describedby="sizing-addon1")
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-earphone")
                input#custSignPhone(ng-model="custSignPhone", type="number", class="form-control", placeholder="Enter Phone Number", aria-describedby="sizing-addon1")
              div(class="input-group input-group")
                span(class="input-group-addon", id="sizing-addon1") 
                  span(class="glyphicon glyphicon-pencil")
                input#custSignEml(ng-model="custSignEml", type="text", class="form-control", placeholder="Enter Email", aria-describedby="sizing-addon1")

          div(class="modal-footer")
            div#loginBtnPart
              button#loginBtn(ng-click="custLogin(custUsername, custloginPwd)", class="btn btn-success btn-lg btn-block", data-dismiss="modal") Login
              button#loginGstBtn(class="btn btn-default btn-lg btn-block", data-dismiss="modal") Login as Guest
            div#signupBtnPart
              button#signupBtn(ng-click="custSignup(custSignUser, custPwd, custSignAddrs, custSignPhone, custSignEml)", class="btn btn-success btn-lg btn-block", data-dismiss="modal") Sign Up

            
    

