html(lang="en", ng-app="cartApp")
  head
    include ./layout
  body(class="container-fluid", ng-controller="MainCtrl")
    //- navbar 
    include ./navbar

    //- main body 
    div(class="row", id="body")
      //- left part of the page, let you add new customers and orders, also search
      include ./addAndSearch
      
      //- right part of the page, show all the customers and orders
      include ./inventoryList
      
    //- footer, all the modals are hidden here
    div(class="row", id="footer")   
      //- Modal for login
      include ./login
              
      //- Modal for Adding New Customer and Order
      include ./addNewCustomer

      //- Modal for Adding New Order for Existing Customer
      include ./addNewOrder

