//---------------------- navbar -------------------------------------
div(class="row", id="header")
  nav(class="navbar navbar-default navbar-fixed-top")
    div(class="navbar-header") 
      img#logo(src="http://www.dispatchr.com/img/logo.png")
    div(class="navbar navbar-nav navbar-right")
      h1#appname 
        b Order & Inventory Manage